#banner {
  .slick-prev {
    left: 20px;
    z-index: 10;
    font-size: 40px;
    color: white;
    &::before {
      content: "";
    }
  }
  .slick-next {
    font-size: 40px;
    z-index: 10;
    color: white;
    right: 25px;
    &::before {
      content: "";
    }
  }
}

.ant-carousel .slick-dots-bottom {
    bottom: 20px;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: red;
}

.ant-carousel .slick-dots li button {
  background-color: gray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
