@media (max-width: 1139.99px) {
  .responsive .responsiveCot1 {
    grid-template-columns: repeat(6, 1fr) !important;
  }
  .responsive .responsiveCot1 .responsiveCot2 {
    grid-column-start: 3 !important;
  }
}
@media (max-width: 500px) {
  .responsive .responsiveCot .responsiveCot1 {
    grid-template-columns: 1fr !important;
  }
  .responsive .tabResponsive .flexCot {
    display: flex !important;
  }
  .responsive .responsiveCot .ant-tabs-content-holder .flexCot {
    display: block !important;
  }
  .responsive .responsiveCot .ant-tabs-content-holder .thongTinLichChieu {
    grid-template-columns: 1fr !important;
    margin-bottom: 10px !important;
  }
}
