.listMovie .ant-carousel .slick-dots li.slick-active button {
  background-color: orange;
}
.listMovie .ant-carousel .slick-dots li button {
  background-color: gray;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.listMovie .ant-carousel .slick-dots li {
  margin-inline: 10px;
  margin-top: 15px;
}
.listMovie .ant-carousel .slick-dots-bottom {
  bottom: 0;
}
